/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: "Raleway",sans-serif;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

/*------------------- Aquí va mi código --------------------*/
header{
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
}

.nav-bar{
  padding: 10px;
}

li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: #fff;
  padding: 70px;
}

.text-home{
  font-size: 53px;
}

.btn-home {
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
}

.text-services {
  /*font-size: 35px;*/
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 25px;
}

.box-services{
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
}

#work .container  h2{
  margin-top: 35px;
}

.box-img {
  width: 300px;
}

#img-work {
  margin-top: 50px;
}

footer{
  text-align: center;
  color: #fff;
  background-color: #3b4d4a;
  padding: 20px;
}

/*PopUp - Modal*/
/*Imagenes responsivas Modales*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 550px;
    border: 10px solid white;
}

.cerrar {
    position: absolute;
    top: 100px;
    right: 430px;
    color:  #2ECC71;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.cerrar:hover,
.cerrar:focus {
    color: #AAA;
    text-decoration: none;
    cursor: pointer;
}
